body {
    /* background-image: url("../images/background_img.jpg"); */
    background-image: url("https://us.123rf.com/450wm/ztranger/ztranger1605/ztranger160500110/56886015-close-up-of-beautiful-black-velvet-texture-background-.jpg?ver=6");
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
.container {
  text-align: center;
  font-size: x-large;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}

  #screen {
    width: 600px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

  #screen div {
    float: left;
  }
  
  #rules-area {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:lightgray;
  }  
  #random-area {
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 3vw;
    background-color: mediumseagreen;
  }
  
  #score-area {
    width: 200px;
    float: left;
    font-size: 3vw;
    color: ghostwhite;
    background-color: darkcyan;
  }
  
  #score {
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: darkcyan;
  }
  
  #win-area {
    text-align: center;
    height: 100px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
  }
  
  .crystals-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .crystal-img {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: lightblue;
  }
  

#crystal-group {
  height: 150px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  .crystal {
    width: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  